*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
  background-color :#202324;
}

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    padding: 20px 5px;
}

.container-global, .answers-block{
  background-color: #474D50;
}
html, body, input, textarea, select, button {
  border-color: #736b5e;
  color: #e8e6e3;
}

h2 {
    text-align: center;
    margin: 20px;
}

.container-global {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    height: auto;
}

label {
    border: 2px solid grey;
    display: block;
    padding: 20px;
    margin-top: -3px;
}

label:hover {
    background-color: #202324;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: relative;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    padding: 0 5px;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #b4b4b4;
  }
  
  .container input:checked ~ .checkmark {
    transition: background-color 0.2s ease-in-out;
    background-color: #00ff15;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .question-block > div {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  
button{
    border: none;
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.2s ease-in-out;
    color: white;
    background-color: rgb(0, 175, 0);
}

button:hover{
    background-color: rgb(0, 143, 0);
}

.results{
  margin: 20px auto;
  border-spacing: 1px;
  text-align: center;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
}
.results td{
  width: 50px;
  height: 50px;
}
.results td:hover:not(.active){
  color: white;
  filter: brightness(85%);
  cursor: pointer;
}

.perfect{
  background-color: green;
}

.good{
  background-color: rgb(255, 131, 30);
}

.quitegood{
  background-color: rgb(255, 35, 35);
}

.wrong{
  background-color: rgb(211, 0, 0);
}

.results .active{
  border: solid white 1px;
  color: white
}

.answersTips{
  width: 80%;
  min-width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
}

.answersTips th, .answersTips td{
  border: 2px solid black;
  padding: 10px;
}


/*end table */

.trgood{
  background-color: #467623;
}

.trwrong{
  background-color: #AA2121;
}

#answersTips {
  background-color: #181A1B;
  border-radius: 3px;
}

#answersTipsBlock{
  background-color: rgb(94, 94, 94);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
#answersTipsBlock td{
  padding: 5px;
  margin: 5px;
}

#answersTipsBlock td:nth-child(1),
#answersTipsBlock td:nth-child(2){
  width: 10%;
}

#answersTipsBlock td:nth-child(3),
#answersTipsBlock td:nth-child(4){
  width: 40%;
}

#answersTipsBlock tr{
  height: 80px;
  text-align: center;
  font-weight: 500;
}

#answersTipsBlock thead tr{
  height: 40px;
  font-weight: 600;
  font-style: oblique;
}

#answersTipsBlock h4{
  padding: 5px;
}

img {
  max-width: 100%;
}

small {
  font-size: 12px;
}

.categories{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(40, auto);
  width: 200px;
  margin: 10px;
}

.categories div{
  padding: 5px;
  display: block;
  background-color: #406f87;
  text-align: center;
  color: white;
  line-height: 3;
  border: 2px solid #423f3a;
  border-radius: 100%;
  cursor : pointer; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.categories div:hover{
  opacity: 0.75;
  transform: scale(1.1);
}

.categories .active{
  background-color: rgb(26, 26, 26);
  border: 2px solid black;
  transform: scale(1.05);
}

